@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Regular/Panton-Regular.eot");
  src: url("../fonts/Panton-Regular/Panton-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Regular/Panton-Regular.woff") format("woff"), url("../fonts/Panton-Regular/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular/Panton-Regular.svg#Panton-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Bold/Panton-Bold.eot");
  src: url("../fonts/Panton-Bold/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Bold/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold/Panton-Bold.ttf") format("truetype"), url("../fonts/Panton-Bold/Panton-Bold.svg#Panton-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ExtraBold/Panton-ExtraBold.eot");
  src: url("../fonts/Panton-ExtraBold/Panton-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ExtraBold/Panton-ExtraBold.woff") format("woff"), url("../fonts/Panton-ExtraBold/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold/Panton-ExtraBold.svg#Panton-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  margin: 0;
  color: #000;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  font-family: "Roboto Condensed", sans-serif;
  touch-action: manipulation;
  border: 1px solid #ffc109;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-image: -webkit-linear-gradient(top, #FCE030 0%, #F4A711 100%);
  background-image: -o-linear-gradient(top, #FCE030 0%, #F4A711 100%);
  background-image: linear-gradient(to bottom, #FCE030 0%, #F4A711 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCE030', endColorstr='#FFF4A711', GradientType=0); }
  .btn:hover {
    background-image: -webkit-linear-gradient(top, #F4A711 0%, #FCE030 100%);
    background-image: -o-linear-gradient(top, #F4A711 0%, #FCE030 100%);
    background-image: linear-gradient(to bottom, #F4A711 0%, #FCE030 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF4A711', endColorstr='#FFFCE030', GradientType=0);
    text-decoration: none; }
  .btn:active {
    top: 1px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-sm {
  font-size: 13px;
  padding: 4px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.btn-md {
  width: 100%;
  font-size: 21px;
  padding: 11px 5px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

.btn-lg {
  font-size: 26px;
  padding: 15px 60px;
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  border-radius: 31px; }

.btn-submit {
  width: 100%;
  font-size: 17px;
  padding: 11px 15px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #ffed70 0%, #ffcb27 100%);
  background-image: -o-linear-gradient(top, #ffed70 0%, #ffcb27 100%);
  background-image: linear-gradient(to bottom, #ffed70 0%, #ffcb27 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFED70', endColorstr='#FFFFCB27', GradientType=0); }
  .btn-submit:hover {
    background-image: -webkit-linear-gradient(top, #ffcb27 0%, #ffed70 100%);
    background-image: -o-linear-gradient(top, #ffcb27 0%, #ffed70 100%);
    background-image: linear-gradient(to bottom, #ffcb27 0%, #ffed70 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCB27', endColorstr='#FFFFED70', GradientType=0);
    text-decoration: none; }
  .btn-submit.btn-green {
    border-color: #aec483;
    background-image: -webkit-linear-gradient(top, #d0dc91 0%, #749733 100%);
    background-image: -o-linear-gradient(top, #d0dc91 0%, #749733 100%);
    background-image: linear-gradient(to bottom, #d0dc91 0%, #749733 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD0DC91', endColorstr='#FF749733', GradientType=0); }
    .btn-submit.btn-green:hover {
      background-image: -webkit-linear-gradient(top, #749733 0%, #d0dc91 100%);
      background-image: -o-linear-gradient(top, #749733 0%, #d0dc91 100%);
      background-image: linear-gradient(to bottom, #749733 0%, #d0dc91 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF749733', endColorstr='#FFD0DC91', GradientType=0); }
  .btn-submit.btn-purple {
    border-color: #ad3caa;
    background-image: -webkit-linear-gradient(top, #c984c7 0%, #622f5e 100%);
    background-image: -o-linear-gradient(top, #c984c7 0%, #622f5e 100%);
    background-image: linear-gradient(to bottom, #c984c7 0%, #622f5e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC984C7', endColorstr='#FF622F5E', GradientType=0); }
    .btn-submit.btn-purple:hover {
      background-image: -webkit-linear-gradient(top, #622f5e 0%, #c984c7 100%);
      background-image: -o-linear-gradient(top, #622f5e 0%, #c984c7 100%);
      background-image: linear-gradient(to bottom, #622f5e 0%, #c984c7 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF622F5E', endColorstr='#FFC984C7', GradientType=0); }

.btn-transparent {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 5px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  font-family: "Roboto Condensed", sans-serif;
  touch-action: manipulation;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .btn-transparent span {
    border-bottom: 1px dashed #fff; }
  .btn-transparent:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1); }
    .btn-transparent:hover span {
      border-color: transparent; }
  .btn-transparent:active {
    top: 1px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-vk {
  color: #fff;
  height: 54px;
  outline: none;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  touch-action: manipulation;
  font-family: "Roboto Condensed", sans-serif;
  padding: 12px 70px 10px 25px;
  border: 1px solid transparent;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .btn-vk:before {
    top: 50%;
    right: 18px;
    width: 44px;
    height: 28px;
    content: '';
    position: absolute;
    margin-top: -14px;
    background: url("../img/icon_vk.png") 0 0 no-repeat; }
  .btn-vk:active {
    top: 1px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-vk.vk-blue {
    border-color: #4e81ab;
    background-image: -webkit-linear-gradient(top, #6ba7d7 0%, #4d84c7 100%);
    background-image: -o-linear-gradient(top, #6ba7d7 0%, #4d84c7 100%);
    background-image: linear-gradient(to bottom, #6ba7d7 0%, #4d84c7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6BA7D7', endColorstr='#FF4D84C7', GradientType=0); }
    .btn-vk.vk-blue:hover {
      background-image: -webkit-linear-gradient(top, #4d84c7 0%, #6ba7d7 100%);
      background-image: -o-linear-gradient(top, #4d84c7 0%, #6ba7d7 100%);
      background-image: linear-gradient(to bottom, #4d84c7 0%, #6ba7d7 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4D84C7', endColorstr='#FF6BA7D7', GradientType=0); }
  .btn-vk.vk-yellow {
    border-color: #d1aa1e;
    background-image: -webkit-linear-gradient(top, #fbd930 0%, #f9ca22 100%);
    background-image: -o-linear-gradient(top, #fbd930 0%, #f9ca22 100%);
    background-image: linear-gradient(to bottom, #fbd930 0%, #f9ca22 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBD930', endColorstr='#FFF9CA22', GradientType=0); }
    .btn-vk.vk-yellow:hover {
      background-image: -webkit-linear-gradient(top, #f9ca22 0%, #fbd930 100%);
      background-image: -o-linear-gradient(top, #f9ca22 0%, #fbd930 100%);
      background-image: linear-gradient(to bottom, #f9ca22 0%, #fbd930 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9CA22', endColorstr='#FFFBD930', GradientType=0); }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #b7b7b7;
  font-size: 24px;
  font-weight: 300;
  background: #fff;
  text-align: left;
  line-height: 30px;
  padding: 11px 15px;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .form-control::-moz-placeholder {
    color: #b7b7b7;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #b7b7b7; }
  .form-control::-webkit-input-placeholder {
    color: #b7b7b7; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus {
    border-color: #000; }

.red .form-control {
  border-color: #ff0000; }

label {
  height: 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 3px; }
  label.label__name {
    color: #909090;
    padding: 2px 0 2px 40px;
    background: url("../img/icon_user.png") 15px 50% no-repeat; }
  label.label__phone {
    color: #909090;
    padding: 2px 0 2px 40px;
    background: url("../img/icon_phone.png") 15px 50% no-repeat; }

.form-group {
  margin-bottom: 15px; }

.modal-box {
  width: 460px;
  background: #fff;
  padding: 20px 23px 10px 23px; }
  .modal-box.modal-rate {
    width: 456px; }
  .modal-box.done {
    width: 400px;
    padding-top: 40px; }
    .modal-box.done .done__text {
      font-size: 30px;
      text-align: center;
      margin-bottom: 50px;
      padding-top: 40px; }
  .modal-box .form__title {
    color: #000;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    margin: 0 -22px 20px -22px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Panton"; }
    .modal-box .form__title span {
      display: block;
      font-size: 42px;
      line-height: 50px; }
      .modal-box .form__title span.rate-start {
        color: #a1b961; }
      .modal-box .form__title span.rate-business {
        color: #ffc109; }
      .modal-box .form__title span.rate-platinum {
        color: #945891; }
  .modal-box .form__source {
    margin: 0;
    padding: 0;
    list-style: none; }
    .modal-box .form__source li {
      color: #000;
      font-size: 14px;
      line-height: 18px;
      padding-left: 40px;
      position: relative;
      margin-bottom: 15px; }
      .modal-box .form__source li:before {
        top: 2px;
        left: 10px;
        width: 19px;
        height: 14px;
        content: ' ';
        position: absolute;
        background: url("../img/icon_check.png") 0 0 no-repeat; }
  .modal-box .sup {
    font-size: 11px;
    font-weight: 300;
    line-height: 16px; }
  .modal-box .btn-submit {
    font-size: 24px; }

.btn_close {
  top: -45px;
  right: -84px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon_close.png") 0 0 no-repeat; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  height: 108px;
  position: fixed;
  background: url("../img/header_bg.jpg") top center no-repeat; }
  .header .container {
    height: 100%; }
  .header .header__logo {
    top: 28px;
    left: 15px;
    width: 202px;
    height: 53px;
    position: absolute;
    background: url("../img/logo.png") 0 0 no-repeat; }
  .header .header__nav {
    top: 0;
    left: 225px;
    width: 470px;
    height: 100%;
    position: absolute; }
    .header .header__nav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      list-style: none; }
      .header .header__nav ul li {
        height: 108px;
        padding: 0 10px;
        text-align: center;
        display: table-cell; }
        .header .header__nav ul li a {
          width: 100%;
          height: 108px;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          padding-top: 65px;
          display: inline-block;
          text-decoration: none; }
          .header .header__nav ul li a:hover {
            background: url("../img/topnav__item.png") top center no-repeat; }
  .header .header__contact {
    top: 10px;
    right: 15px;
    text-align: right;
    position: absolute; }
    .header .header__contact .btn {
      -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }
  .header .header__tel {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
    margin-right: 20px;
    margin-bottom: 10px; }

.footer {
  color: #fff;
  height: 120px;
  font-size: 13px;
  line-height: 20px;
  background: url("../img/footer_bg.jpg") top center no-repeat; }
  .footer .container {
    height: 100%; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .footer .footer__left {
    top: 30px;
    left: 15px;
    width: 200px;
    position: absolute; }
  .footer .footer__center {
    top: 30px;
    left: 50%;
    width: 240px;
    position: absolute;
    margin-left: -120px; }
  .footer .footer__contact {
    top: 15px;
    right: 15px;
    text-align: right;
    position: absolute; }
    .footer .footer__contact .btn {
      -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }
    .footer .footer__contact .footer__tel {
      color: #fff;
      font-size: 27px;
      font-weight: 600;
      line-height: 30px;
      margin-right: 20px;
      margin-bottom: 10px; }

.b01 {
  color: #fff;
  height: 590px;
  position: relative;
  background: url("../img/b01_bg.jpg") top center no-repeat; }
  .b01 .container {
    height: 100%;
    padding-top: 52px; }
  .b01 h1 {
    font-size: 51px;
    line-height: 60px;
    padding-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: "Panton";
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }
    .b01 h1 span {
      font-weight: 800; }
  .b01 .b01__white {
    color: #652a62;
    font-size: 17px;
    font-weight: 600;
    background: #fff;
    padding: 9px 15px;
    line-height: 20px; }
  .b01 .b01__text {
    float: left;
    width: 625px; }
  .b01 .b01__form {
    width: 344px;
    float: right;
    height: 432px;
    padding: 35px 30px;
    background: url("../img/b01_form.png") 0 0 no-repeat;
    -webkit-box-shadow: 0px 11px 23px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 11px 23px 0px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px; }
    .b01 .b01__form .form__title {
      font-size: 28px;
      font-weight: 800;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 -5px 10px -5px;
      font-family: "Panton"; }
    .b01 .b01__form .form__subtitle {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      text-align: center;
      margin-bottom: 10px; }
    .b01 .b01__form .sup {
      font-size: 11px;
      font-weight: 300;
      line-height: 16px; }
    .b01 .b01__form .form-control {
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }
      .b01 .b01__form .form-control:focus {
        border-color: #f5f5f5; }
    .b01 .b01__form label.label__name {
      color: #fff; }
    .b01 .b01__form label.label__phone {
      color: #fff; }
  .b01 .b01__ring1 {
    z-index: 10;
    left: 50px;
    bottom: 75px;
    width: 256px;
    height: 256px;
    position: absolute;
    background: url("../img/b01_ring1.png") 0 0 no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35); }
  .b01 .b01__ring2 {
    z-index: 7;
    left: 265px;
    bottom: 55px;
    width: 179px;
    height: 179px;
    position: absolute;
    background: url("../img/b01_ring2.png") 0 0 no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35); }
  .b01 .b01__ring3 {
    z-index: 5;
    left: 400px;
    bottom: 155px;
    width: 144px;
    height: 144px;
    position: absolute;
    background: url("../img/b01_ring3.png") 0 0 no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.35); }

.b02 {
  padding-top: 10px;
  padding-bottom: 20px; }
  .b02 .result {
    margin: 0;
    padding: 0;
    list-style: none; }
    .b02 .result li {
      width: 470px;
      height: 395px;
      overflow: hidden;
      position: relative;
      margin-bottom: 48px; }
      .b02 .result li img {
        -webkit-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out; }
      .b02 .result li:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out; }
      .b02 .result li:hover .result__box {
        height: 255px;
        padding-top: 40px; }
    .b02 .result .result__box {
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      height: 245px;
      position: absolute;
      padding: 30px 30px 15px 30px;
      background: rgba(0, 0, 0, 0.8);
      -webkit-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out; }
      .b02 .result .result__box .row {
        margin: 0 -10px; }
        .b02 .result .result__box .row:before, .b02 .result .result__box .row:after {
          content: " ";
          display: table; }
        .b02 .result .result__box .row:after {
          clear: both; }
        .b02 .result .result__box .row .col {
          width: 50%;
          float: left;
          padding: 0 10px; }
    .b02 .result .result__table {
      width: 100%;
      font-size: 15px;
      margin-bottom: 15px;
      font-family: "Panton"; }
      .b02 .result .result__table td,
      .b02 .result .result__table th {
        padding: 7px 15px; }
      .b02 .result .result__table td {
        text-align: left; }
      .b02 .result .result__table th {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase; }
  .b02 .result-img {
    padding: 0;
    margin: 0 -8px;
    list-style: none; }
    .b02 .result-img li {
      float: left;
      width: 33.33%;
      padding: 0 8px; }

.b03 {
  height: 450px;
  padding-top: 50px;
  background: url("../img/b03_bg.jpg") top center no-repeat; }
  .b03 h2 {
    color: #fff;
    margin-bottom: 30px; }
  .b03 ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .b03 ul li {
      float: left;
      height: 250px;
      position: relative; }
      .b03 ul li span {
        top: 0;
        left: 10px;
        color: #000;
        width: 150px;
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 13px 5px;
        position: absolute;
        text-align: center;
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px; }
        .b03 ul li span:before {
          left: 50%;
          bottom: -24px;
          content: ' ';
          position: absolute;
          margin-left: -12px;
          border: 12px solid transparent;
          border-top: 12px solid #fff; }
      .b03 ul li.item1 {
        width: 260px;
        background: url("../img/b03_item1.png") left bottom no-repeat; }
        .b03 ul li.item1 span {
          top: 50px;
          left: 70px; }
      .b03 ul li.item2 {
        width: 235px;
        background: url("../img/b03_item2.png") left bottom no-repeat; }
      .b03 ul li.item3 {
        width: 330px;
        background: url("../img/b03_item3.png") left bottom no-repeat; }
        .b03 ul li.item3 span {
          top: 10px;
          left: 50px; }
      .b03 ul li.item4 {
        width: 165px;
        background: url("../img/b03_item2.png") left bottom no-repeat; }
        .b03 ul li.item4 span {
          top: 20px; }
      .b03 ul li:hover span {
        background: #fad129; }
        .b03 ul li:hover span:before {
          border-top-color: #fad129; }

.b04 {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 70px; }
  .b04 .boss {
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center;
    margin: 0 0 30px 0;
    vertical-align: top; }
    .b04 .boss li {
      color: #000;
      width: 290px;
      height: 730px;
      margin: 0 20px;
      font-size: 16px;
      padding-top: 12px;
      line-height: 20px;
      position: relative;
      text-align: center;
      display: inline-block;
      vertical-align: top; }
      .b04 .boss li img {
        margin-bottom: 24px; }
      .b04 .boss li.item1 .boss__name {
        left: -60px; }
        .b04 .boss li.item1 .boss__name:before {
          right: 23px; }
      .b04 .boss li.item2 .boss__name {
        left: 200px; }
        .b04 .boss li.item2 .boss__name:before {
          left: 23px;
          background: url("../img/b04_arrow-left.png") 0 0 no-repeat; }
    .b04 .boss .boss__name {
      top: 0;
      color: #fff;
      font-size: 19px;
      font-weight: 800;
      line-height: 21px;
      padding: 12px 20px;
      position: absolute;
      white-space: nowrap;
      background: #a1b961;
      font-family: "Panton"; }
      .b04 .boss .boss__name:before {
        width: 18px;
        height: 18px;
        content: ' ';
        bottom: -18px;
        position: absolute;
        background: url("../img/b04_arrow.png") 0 0 no-repeat; }
  .b04 .staff {
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 0 30px 0;
    text-align: center;
    vertical-align: top; }
    .b04 .staff li {
      color: #000;
      width: 204px;
      margin: 0 58px;
      font-size: 16px;
      padding-top: 36px;
      line-height: 20px;
      position: relative;
      text-align: center;
      display: inline-block;
      vertical-align: top; }
      .b04 .staff li img {
        margin-bottom: 20px; }
      .b04 .staff li .staff__name {
        top: 0;
        left: -60px;
        color: #fff;
        font-size: 19px;
        font-weight: 800;
        line-height: 21px;
        padding: 12px 20px;
        position: absolute;
        white-space: nowrap;
        background: #a1b961;
        font-family: "Panton"; }
        .b04 .staff li .staff__name:before {
          width: 18px;
          height: 18px;
          content: ' ';
          bottom: -18px;
          right: 23px;
          position: absolute;
          background: url("../img/b04_arrow.png") 0 0 no-repeat; }

.b05 {
  padding-top: 50px;
  padding-bottom: 35px;
  background: url("../img/b05_bg.jpg"); }
  .b05 .solution {
    padding: 0;
    list-style: none;
    margin: 0 -15px; }
    .b05 .solution > li {
      float: left;
      width: 340px;
      padding: 0 15px; }
      .b05 .solution > li.item1 {
        padding-top: 10px; }
        .b05 .solution > li.item1 .solution__item {
          background: #fff;
          border-top: 8px solid #a1b961; }
        .b05 .solution > li.item1 .solution__choice {
          color: #a1b961; }
          .b05 .solution > li.item1 .solution__choice:hover {
            color: #ffc109; }
      .b05 .solution > li.item2 .solution__item {
        background: #fff7d8;
        border-top: 20px solid #ffc109;
        border-right: 4px solid #ffc109;
        border-left: 4px solid #ffc109;
        -webkit-box-shadow: 0px 3px 25px 0px rgba(195, 160, 52, 0.5);
        box-shadow: 0px 3px 25px 0px rgba(195, 160, 52, 0.5); }
        .b05 .solution > li.item2 .solution__item .solution__title:before {
          opacity: 1; }
        .b05 .solution > li.item2 .solution__item .solution__choice {
          color: #000;
          background-image: -webkit-linear-gradient(top, #fce130 0%, #f4a611 100%);
          background-image: -o-linear-gradient(top, #fce130 0%, #f4a611 100%);
          background-image: linear-gradient(to bottom, #fce130 0%, #f4a611 100%);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCE130', endColorstr='#FFF4A611', GradientType=0); }
          .b05 .solution > li.item2 .solution__item .solution__choice:hover {
            background: #f4a611; }
        .b05 .solution > li.item2 .solution__item .solution__present:before {
          opacity: 1; }
      .b05 .solution > li.item3 {
        padding-top: 10px; }
        .b05 .solution > li.item3 .solution__item {
          background: #fff;
          border-top: 8px solid #945891; }
          .b05 .solution > li.item3 .solution__item .solution__choice {
            color: #945891; }
            .b05 .solution > li.item3 .solution__item .solution__choice:hover {
              color: #ffc109; }
    .b05 .solution .solution__item {
      color: #000;
      text-align: center;
      margin-bottom: 38px;
      padding: 30px 30px 0 30px; }
      .b05 .solution .solution__item .solution__title {
        color: #2a1229;
        font-size: 29px;
        font-weight: 800;
        line-height: 30px;
        position: relative;
        margin-bottom: 18px;
        padding-bottom: 73px;
        font-family: "Panton"; }
        .b05 .solution .solution__item .solution__title:before {
          left: 0;
          right: 0;
          bottom: 0;
          opacity: .2;
          height: 48px;
          content: ' ';
          position: absolute;
          background: url("../img/solution_header.png") 50% 0 no-repeat; }
      .b05 .solution .solution__item .solution__legend {
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 25px; }
      .b05 .solution .solution__item p {
        font-size: 15px;
        font-weight: 300;
        line-height: 30px; }
      .b05 .solution .solution__item .solution__present {
        margin: 0 -20px;
        font-size: 15px;
        list-style: none;
        font-weight: 600;
        line-height: 30px;
        position: relative;
        padding: 55px 0 10px 0; }
        .b05 .solution .solution__item .solution__present:before {
          top: 0;
          left: 0;
          right: 0;
          opacity: .2;
          height: 48px;
          content: ' ';
          position: absolute;
          background: url("../img/solution_present.png") 50% 0 no-repeat; }
      .b05 .solution .solution__item .solution__price {
        font-size: 47px;
        font-weight: 700;
        line-height: 50px; }
      .b05 .solution .solution__item .solution__choice {
        outline: none;
        display: block;
        cursor: pointer;
        padding: 21px 0;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        text-decoration: none;
        margin: 15px -30px 0 -30px;
        border-top: 1px solid #dcdcdc; }
        .b05 .solution .solution__item .solution__choice:active {
          -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .b05 .solution .solution__ok {
      margin: 0;
      color: #000;
      width: 100%;
      height: 83px;
      outline: none;
      display: block;
      cursor: pointer;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
      position: relative;
      text-decoration: none;
      border: 1px solid #dcdcdc;
      background-image: -webkit-linear-gradient(top, #fce130 0%, #f4a611 100%);
      background-image: -o-linear-gradient(top, #fce130 0%, #f4a611 100%);
      background-image: linear-gradient(to bottom, #fce130 0%, #f4a611 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCE130', endColorstr='#FFF4A611', GradientType=0); }
      .b05 .solution .solution__ok:before {
        top: 50%;
        left: 50%;
        width: 48px;
        height: 34px;
        content: ' ';
        margin-top: -17px;
        margin-left: -24px;
        position: absolute;
        background: url("../img/icon_ok.png") 0 0 no-repeat; }
      .b05 .solution .solution__ok:hover {
        background: #f4a611; }

.b06 {
  padding-top: 60px;
  padding-bottom: 40px; }
  .b06 .how {
    width: 180px;
    float: left;
    margin: 0 50px 0 0;
    list-style: none; }
    .b06 .how li {
      color: #000;
      height: 210px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      position: relative; }
      .b06 .how li:before {
        top: 50px;
        right: -76px;
        width: 104px;
        height: 28px;
        content: ' ';
        position: absolute;
        background: url("../img/b06_arrow.png") 50% -28px no-repeat; }
      .b06 .how li.item4:before {
        top: 63px;
        width: 102px;
        height: 211px;
        background: url("../img/bo6_line.png") 0 0 no-repeat; }
      .b06 .how li.item5:before {
        display: none; }
      .b06 .how li.item6:before {
        background-position: 50% 0; }
      .b06 .how li.item7:before {
        background-position: 50% 0; }
      .b06 .how li img {
        margin-bottom: 15px; }
      .b06 .how li span {
        display: block; }
    .b06 .how .how__ring {
      color: #000;
      font-size: 16px;
      line-height: 20px;
      font-family: "Roboto Condensed", sans-serif; }
      .b06 .how .how__ring span {
        font-size: 21px;
        font-weight: 700;
        line-height: 30px; }
    .b06 .how .btn {
      margin-top: 15px;
      margin-bottom: 10px; }

.b07 {
  height: 670px;
  padding-top: 75px;
  background: url("../img/b07_bg.jpg") top center no-repeat; }
  .b07 h2 {
    margin-bottom: 35px; }
  .b07 .inner {
    position: relative; }
  .b07 .reply {
    position: relative; }
    .b07 .reply .reply__item {
      outline: none; }
    .b07 .reply .reply__photo {
      width: 187px;
      height: 187px;
      margin: 0 auto 35px auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .b07 .reply .reply__text {
      width: 730px;
      background: #fff;
      position: relative;
      text-align: center;
      margin: 0 auto 35px auto;
      padding: 20px 30px 20px 30px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.14); }
      .b07 .reply .reply__text:before {
        left: 50%;
        top: -30px;
        content: ' ';
        position: absolute;
        margin-left: -20px;
        border: 20px solid transparent;
        border-bottom: 20px solid #fff; }
      .b07 .reply .reply__text .reply__author {
        color: #2a1229;
        font-size: 19px;
        font-weight: 800;
        line-height: 20px;
        margin-bottom: 5px;
        font-family: "Panton"; }
      .b07 .reply .reply__text .reply__legend {
        color: #8f8f8f;
        font-size: 11px;
        margin-bottom: 10px; }
      .b07 .reply .reply__text p {
        color: #000;
        font-size: 13px;
        line-height: 20px; }
    .b07 .reply .slick-dots {
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center;
      position: absolute; }
      .b07 .reply .slick-dots li {
        margin: 0 5px;
        display: inline-block; }
        .b07 .reply .slick-dots li button {
          padding: 0;
          width: 12px;
          height: 12px;
          border: none;
          outline: none;
          background: #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .b07 .reply .slick-dots li.slick-active button {
          background-color: #fad129; }
  .b07 .reply__nav {
    top: 40px;
    width: 60px;
    height: 117px;
    display: block;
    cursor: pointer;
    position: absolute;
    background: url("../img/b07_arrow.png") no-repeat; }
    .b07 .reply__nav.prev {
      left: 272px;
      background-position: 0 0; }
      .b07 .reply__nav.prev:hover {
        background-position: 0 -117px; }
    .b07 .reply__nav.next {
      right: 272px;
      background-position: -60px 0; }
      .b07 .reply__nav.next:hover {
        background-position: -60px -117px; }

.b08 {
  height: 620px;
  padding-top: 70px;
  text-align: center;
  background: url("../img/b08_bg.jpg") top center no-repeat; }
  .b08 h3 {
    color: #fff;
    font-size: 49px;
    line-height: 50px;
    margin-bottom: 40px;
    font-family: "Panton"; }
  .b08 .white-box {
    color: #000;
    width: 750px;
    padding: 15px;
    font-size: 24px;
    font-weight: 700;
    background: #fff;
    position: relative;
    margin: 0 auto 20px auto;
    font-family: "Panton";
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .b08 .white-box:before {
      left: 50%;
      bottom: -20px;
      content: ' ';
      position: absolute;
      margin-left: -12px;
      border: 12px solid transparent;
      border-top: 12px solid #fff; }
    .b08 .white-box span {
      display: block;
      font-size: 17px; }
  .b08 .btn {
    margin-bottom: 70px; }
  .b08 .b08__logo {
    width: 202px;
    height: 80px;
    margin: 0 auto;
    background: url("../img/b08__logo.png") 0 0 no-repeat; }

.b09 #map {
  height: 450px; }

/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #252525; }

body {
  font-size: 14px;
  background: #fff;
  position: relative;
  padding-top: 108px;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 1020px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2 {
  color: #2a1229;
  font-size: 51px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 45px;
  font-family: "Panton"; }
  h2:before {
    left: 50%;
    bottom: 0;
    width: 126px;
    content: ' ';
    position: absolute;
    margin-left: -63px;
    border-bottom: 9px solid #fad129; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-yellow {
  color: #fad129; }

.text-red {
  color: #b72525; }

/*# sourceMappingURL=main.css.map */
