.b01__ring1,
.b01__ring2,
.b01__ring3 {
	opacity: 0;
}


.b01__ring1 {
	-webkit-animation: scaleUp .3s 1s forwards;
	animation: scaleUp .3s 1s forwards;
}

.b01__ring2 {
	-webkit-animation: scaleUp .4s 1.5s forwards;
	animation: scaleUp .4s 1.5s forwards;
}

.b01__ring3 {
	-webkit-animation: scaleUp .4s 1.5s forwards;
	animation: scaleUp .4s 1.5s forwards;
}


.hvr-wobble-vertical {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
	-webkit-animation-name: hvr-wobble-vertical;
	animation-name: hvr-wobble-vertical;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}