.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	height: 108px;
	position: fixed;
	background: url("../img/header_bg.jpg") top center no-repeat;

	.container {
		height: 100%;
	}

	.header__logo {
		top: 28px;
		left: 15px;
		width: 202px;
		height: 53px;
		position: absolute;
		background: url("../img/logo.png") 0 0 no-repeat;
	}

	.header__nav {
		top: 0;
		left: 225px;
		width: 470px;
		height: 100%;
		position: absolute;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			display: table;
			list-style: none;

			li {
				height: 108px;
				padding: 0 10px;
				text-align: center;
				display: table-cell;

				a {
					width: 100%;
					height: 108px;
					color: #fff;
					font-size: 15px;
					font-weight: 300;
					line-height: 20px;
					padding-top: 65px;
					display: inline-block;
					text-decoration: none;

					&:hover {
						background: url("../img/topnav__item.png") top center no-repeat;
					}
				}
			}
		}
	}

	.header__contact {
		top: 10px;
		right: 15px;
		width: 260px;
		text-align: right;
		position: absolute;

		.btn {
			@include box-shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.35));
		}
	}

	.header__tel {
		color: #fff;
		display: block;
		font-size: 27px;
		font-weight: 600;
		line-height: 30px;
		margin-right: 20px;
		margin-bottom: 10px;
		text-decoration: none;
	}
}